.column {
    max-width: 800px;
    width: 90% !important;
    margin-top: 30px;
}

.file.field {
    margin-top: 20px !important;
}

.disabled.field {
    width: 80%;
    display: inline-block !important;
    vertical-align: top;
}

.upload.button {
    width: 19%;
    height: 38px;
    display: inline-block !important;
    color: #fff !important;
    padding-top: 12px !important;
}

form {
    text-align: left;
}

.dropdown.tags, .manage.button {
    display: inline-block !important;
    vertical-align: top;
}

.dropdown.tags {
    width: calc(100% - 160px) !important;
}

.manage.button {
    width: 140px !important;
}

.taglabel {
    margin-bottom: 0 !important;
}