{% extends 'amund_io/base.html' %}
{% load staticfiles %}

{% block header %}
{% endblock header %}
{% block footer %}
{% endblock footer %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "numclass/css/demo.css" %}">
{% endblock head %}

{% block content %}
    <div class="demo">
        <div id="demo-left">
            <canvas id="canvas" width="200" height="200">
                <p>Your browser does not support this feature.</p>
            </canvas>
            <br>
            <div id="canvas-control" class="ui buttons">
                <a id="run" class="ui button">Run</a>
                <a id="clear" class="ui button">Clear</a>
            </div>
        </div>
        <div id="demo-right">
            <div id="demo-bars">
                {% for i in range10 %}
                    <div id="progress{{ i }}" class="ui indicating progress">
                        <div class="bar">
                            <div class="progress"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="demo-numbers">
                {% for i in range10 %}
                    <p>{{ i }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>csrf_token = '{{ csrf_token }}';</script>
    <script src="{% static "numclass/js/demo.js" %}"></script>
{% endblock content %}