{% extends 'amund_io/base.html' %}
{% load staticfiles %}
{% load amund_io_markdown %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "amund_io/css/about.css" %}">
{% endblock head %}

{% block content %}

    <div class="page-grid">
        <div class="about-grid">
            <div class="about-info">
                <div class="info-grid">
                    <i class="mail icon"></i>
                    <p><a href="mailto:me@amund.io">me@amund.io</a></p>
                    <i class="github icon"></i>
                    <p><a href="https://github.com/tenstad" target="_blank">tenstad</a></p>
                    <i class="call icon"></i>
                    <p>+47 90820303</p>
                    <i class="marker icon"></i>
                    <p>Søndre Berg<br>7050 Trondheim</p>
                    <i class="child icon"></i>
                    <p>July 1996</p>
                </div>
            </div>

            <img class="about-img" src="{% static "amund_io/img/me.png" %}">

            <div class="experiences">
                {% for experience_category, value in experiences.items %}
                    <h2 class="experience-header">{{ experience_category }}</h2>
                    <hr class="h2-underline">
                    {% for experience in value %}
                        <div class="experiences-grid">
                            {% if experience.url %}
                                <a href="{{ experience.url }}"><h3 class="experience-title">{{ experience.title }}</h3></a>
                            {% else %}
                                <h3 class="experience-title">{{ experience.title }}</h3>
                            {% endif %}
                            <div class="experience-description">
                                {% autoescape off %}
                                    {{ experience.description|markdown }}
                                {% endautoescape %}
                            </div>
                            <p class="experience-year">{{ experience.start_year|date:"M Y" }} - {% if not experience.current %}{{ experience.end_year|date:"M Y" }}{% else %}Present{% endif %}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

            <div class="skills-grid">
                <h2 class="skill-header">Skills</h2>
                <hr class="h2-underline">
                {% for skill_category, value in skills.items %}
                    <p class="skill-subheader">{{ skill_category }}</p>
                    {% for skill in value %}
                        <div class="ui label">{{ skill.skill }}</div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
