{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
          {% block title %}
            Amund Tenstad
          {% endblock title %}
        </title>

        <link rel="stylesheet" type="text/css" href="{% static "amund_io/css/semantic.min.css" %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">

        <link rel="stylesheet" href="{% static "amund_io/css/style.css" %}">
        <link rel="stylesheet" href="{% static "amund_io/css/footer.css" %}">
        <link rel="stylesheet" href="{% static "amund_io/css/header.css" %}">
        <link rel="stylesheet" href="{% static "files/css/imagepopup.css" %}">

        <script src="{% static "amund_io/js/jquery.min.js" %}"></script>
        <script src="{% static "amund_io/js/semantic.min.js" %}"></script>
        {% block head %}
        {% endblock head %}
    </head>

    <body>
    {% block header %}
        {% include 'amund_io/header.html' %}
    {%  endblock header %}

    {% block content %}

    {%  endblock content %}

    {% block footer %}
    {%  endblock footer %}

    {% include 'amund_io/delete.html' %}
    {% include 'files/imagepopup.html' %}
    <script src="{% static "amund_io/js/codeblock.js" %}"></script>
    </body>

</html>
