{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
          {% block title %}
            Amund Tenstad
          {% endblock title %}
        </title>

        <link rel="stylesheet" type="text/css" href="{% static "amund_io/css/semantic.min.css" %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <script src="{% static "amund_io/js/jquery.min.js" %}"></script>
        <script src="{% static "amund_io/js/semantic.min.js" %}"></script>
    </head>

    <body>
    {% block header %}
        {% include 'amund_io/header.html' %}
    {%  endblock header %}

    {% block content %}

    {%  endblock content %}

    {% block footer %}
        {% include 'amund_io/footer.html' %}
    {%  endblock footer %}

    </body>

</html>