{% extends 'amund_io/base.html' %}
{% load staticfiles %}
{% load amund_io_markdown %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "amund_io/css/index.css" %}">
{% endblock head%}

{% block content %}
    <div class="article-grid">
        {% for article in articles %}
            <aimg class="article-image a" href="/articles/{{ article.id }}">
                <img src="{{ article.thumbnail.url }}">
            </aimg>
            <atxt class="article-text a" href="/articles/{{ article.id }}">
                <div>
                    <h2>{{ article.title.upper }}</h2>
                    {% autoescape off %}
                        {{ article.ingress|markdown }}
                    {% endautoescape %}
                </div>
            </atxt>
            <div class="white1"></div><div class="white2"></div>
        {% endfor %}
    </div>
    <script>
        $('.a').click(function () {
           location.replace($(this).attr('href'));
        });
    </script>
{% endblock content %}
