{% extends 'amund_io/base.html' %}
{% load staticfiles %}
{% load amund_io_markdown %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "amund_io/css/index.css" %}">
{% endblock head%}

{% block content %}
    <div class="article-grid">
        {% for article in articles %}
            <aimg class="article-image">
                <img src="{{ article.thumbnail.url }}">
            </aimg>
            <atxt class="article-text">
                <a href="/articles/{{ article.id }}"><h2>{{ article.title.upper }}</h2></a>
                {% autoescape off %}
                    {{ article.ingress|markdown }}
                {% endautoescape %}
            </atxt>
        {% endfor %}
    </div>
{% endblock content %}