.article-grid {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    padding-bottom: 100px;
}

@media only screen and (max-width: 1000px) {
    .article-grid {
        grid-template-columns: 1fr 8fr 1fr;
    }
}

.article-grid > * {
    background-color: #fff;
    margin: 0;
    padding: 10px;
    grid-column: 2 / 3;
}

.article-grid .full-width {
    background-color: transparent;
    margin: 0;
    padding: 0;
    grid-column: 1 / 4;
}

p {
    max-height: 100%;
    font-size: 20px;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    background-color: #fff;
}

.creation-date {
    margin-top: -20px;
}
