{% extends 'amund_io/base.html' %}
{% load staticfiles %}

{% block title %}
  Upload new image
{% endblock title %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static "files/css/image_upload.css" %}">
{% endblock head %}

{% block content %}

  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui header blue">
        Upload new image
      </h2>
      <form class="ui large form" action="/files/image-upload/" enctype="multipart/form-data" method="post">
        {% csrf_token %}

        <div class="ui segment">
          <div class="field">
            <label for="{{ form.title.id_for_label }}">
              Title
            </label>
            <div class="ui left input">
              <input id="{{ form.title.id_for_label }}"
                     name="title"
                     placeholder=""
                     type="text"
                     maxlength="{{ form.fields.title.max_length }}"
                     value="{{ form.title.value }}">
            </div>

            {% if form.title.errors %}
              <div class="ui blue pointing label">
                {{ form.title.errors.0 }}
              </div>
            {% endif %}
          </div>

          <div class="field">
            <label for="{{ form.description.id_for_label }}">
              Description
            </label>
            <div class="ui left input">
            <textarea id="{{ form.description.id_for_label }}"
                      name="description"
                      placeholder=""
                      type="text"
                      maxlength="{{ form.fields.description.max_length }}"
            >{{ form.description.value }}</textarea>
            </div>

            {% if form.description.errors %}
              <div class="ui blue pointing label">
                {{ form.description.errors.0 }}
              </div>
            {% endif %}
          </div>

          <div class="ui field taglabel">
            <label for="{{ form.tags.id_for_label }}">
              Tags
            </label>
          </div>
          <div class="ui inline field">
            <div class="ui fluid multiple search normal selection dropdown tags">
              <input id="{{ form.tags.id_for_label }}"
                     type="hidden"
                     name="tags"
                     type="text"
                     maxlength="{{ form.fields.tags.max_length }}">
              <i class="dropdown icon"></i>
              <div class="default text">Select Tags</div>
              <div class="menu">
                {% for tag in image_tags %}
                  <div class="item" data-value="{{ tag.id }}">{{ tag|title }}</div>
                {% endfor %}
              </div>
            </div>
            <a class="ui fluid button blue manage" href="/tags/edit/name/images/" target="_blank">Manage Tags</a>
            {% if form.tags.errors %}
              <div class="ui blue pointing label" style="margin-top: 0;">
                {{ form.tags.errors.0 }}
              </div>
            {% endif %}

            <div class="field file">
              <div class="disabled field">
                <input id="file_dummy" type="text" disabled="" tabindex="-1" value="{{ form.file.value|default:'' }}">
              </div>

              <label for="id_file" class="ui icon button upload blue">
                <i class="file icon"></i>
                File
              </label>
              <input id="id_file" type="file" name="file" style="display: none;">

              {% if form.file.errors %}
                <div class="ui blue pointing label">
                  {{ form.file.errors.0 }}
                </div>
              {% endif %}
            </div>

            <div class="ui fluid large submit button blue">Save</div>

          </div>
        </div>
      </form>

      <script src="{% static "files/js/image_upload.js" %}"></script>
      <script>
          $(function () {
              {% if form.tags.value %}
                  $('.dropdown.tags').dropdown('set exactly', [
                      {% for tag in form.tags.value %}
                          '{{ tag|title }}',
                      {% endfor %}
                  ]);
              {% endif %}
          });
      </script>
    </div>
  </div>

{% endblock content %}
