#header {
    width: 100%;
    height: 150px;
    background-color: #2f3032;
    margin-bottom: 50px;
    margin-top: 0;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
}

@media only screen and (max-width: 1000px) {
    #header {
        grid-template-columns: 1fr 8fr 1fr;
    }
}

.header-mid {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: -7.4px;
}

.header-mid a {
    grid-column: 1/2;
}

#header h2, #header p {
    color: #fff;
}

#header h2 {
    margin: -4px 0;
    padding: 0;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 50px;
}

#header h2 {
    display: inline-block;
    align-self: center;
}

#header li {
    display: inline-block;
    text-decoration: none;
    padding: 4px 15px;
    font-size: 20px;
}

#header ul {
    grid-column: 2/3;
    padding-left: 0;
    margin: 0;
    margin-right: -20px;
    align-self: center;
    justify-self: right;
}