body {
    background-color: #ddd;
}

.article-grid {
    display: grid;
    grid-template-columns: [full-start] 3fr [main-start] 10fr 10fr [main-end] 3fr [full-end];
    grid-auto-flow: dense;
}

.article-grid {
    padding-top: 50px;
}

.article-text, .article-image {
    height: 400px;
    margin-bottom: 50px;
    grid-column: 2 / 3;
}

.article-text, .full-width {
    padding-top: 100px;
    text-align: center;
}

.full-width {
    grid-column: full;
    background-color: #0e8c8c;
    margin-top: 50px;
    margin-bottom: 100px;
    height: 600px;
    color: #fff;
}

.article-text:nth-of-type(2n+1), .article-image:nth-of-type(2n) {
    grid-column: 3 / 4;
}

@media only screen and (max-width: 800px) {
    .article-grid {
        grid-template-columns: [full-start] 3fr [main-start] 10fr [main-end] 3fr [full-end];
    }
    .article-image {
        margin-bottom: 0;
    }
    .article-text:nth-of-type(2n+1), .article-image:nth-of-type(2n) {
        grid-column: main;
    }
}

.article-text {
    background-color: #fff;
    text-align: center;
}

.article-text h2 {
    margin-bottom: 20px;
    font-size: 4vw;
}

@media only screen and (min-width: 1100px) {
    .article-text h2 {
        font-size: 3.2em;
    }
}

@media only screen and (max-width: 650px) {
    .article-text h2 {
        font-size: 1.8em;
    }
}

.article-image-container {
    height: 100%;
    width: 100%;
    background-color: #00b5ad;
}

img {
    /*object-fit: cover;*/
    width: 0;
}
